{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nepal Earthquake Data</title>
  <link rel="stylesheet" href="{% static 'style/home_style.css' %}" />
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Nepal Earthquake Insights</h1>
      <p>
        Explore historical and recent earthquake data across Nepal. This platform presents a detailed view of seismic activity over the years — including magnitude, location, and patterns over time. Built for researchers, students, and the curious, our goal is to make seismic data accessible and interactive.
      </p>
      <a href="{% url 'map' %}" class="btn">Explore Now</a>
    </div>
  </div>
</body>
</html>
