{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Earthquake Map</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 600px; width: 100%; }
        body { font-family: sans-serif; margin: 0; }
        #sidebar { padding: 10px; background: #f4f4f4; }
    </style>
</head>
<body>
<div id="sidebar">
    <label for="year-select">Select Year:</label>
    <select id="year-select"></select>
    <button onclick="renderMap()">Show</button>
</div>
<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script id="earthquake-data" type="application/json">
    {{ earthquake_data_json|safe }}
</script>
<script>
    let map;
    let Earthquake_data = {};
    let Current_markers = [];

    map = L.map('map').setView([28.3949, 84.1240], 6);
    //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}').addTo(map);

    fetch("{% static 'Earthquake years.json' %}")
    .then(res => res.json())
    .then(data => {
        Earthquake_data = data;
        const years = Object.keys(data).sort((a, b) => b - a);
        const select = document.getElementById('year-select');
        
        years.forEach(year => {
            const option = document.createElement('option');
            option.value = year;
            option.text = year;
            select.add(option);
        });
    });

    function renderMap(){
        const year = document.getElementById('year-select').value;
        const YearData = Earthquake_data[year];
        
        if (map) map.remove();

        map = L.map('map').setView([28.3949, 84.1240], 6);
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}').addTo(map);
        
        if (Array.isArray(YearData)){
            YearData.forEach(loc => {
                {% comment %} const Custom_marker = L.icon({
                    iconUrl: '{% static 'Rp0l71YJGJ.gif' %}',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [0, -30]
                });  {% endcomment %}
                const marker = L.circleMarker([parseFloat(loc.Latitude), parseFloat(loc.Longitude)], {
                    radius: loc.Magnitude * 1.2,
                    
                    color: 'red',
                    fillColor: '',
                    fillOpacity: 0.0
                    //icon: Custom_marker
                }).addTo(map);

                marker.bindPopup(`<strong>${loc.Epicenter}</strong><br>Magnitude: ${loc.Magnitude}`);
                Current_markers.push(marker);
            });
        }
        
        
    }
</script>
</body>
</html>